"""
Config File
"""
import logging

# 本地启动端口
# 查看端口是否被占用 netstat -ant|grep 9211
DEF_LOCAL_PORT = 9211

# 是否使用无痕模式
DEF_INCOGNITO = False

# 是否使用无头浏览器模式
DEF_USE_HEADLESS = True
# DEF_USE_HEADLESS = False

# 调试模式
# DEF_DEBUG = True
DEF_DEBUG = False

# 浏览器路径，置空时取 Chrome 的默认路径
DEF_PATH_BROWSER = ''

DEF_PATH_USER_DATA = 'chrome_profile'

############################################################
DEF_WINDOW_LOCATION = None
DEF_WINDOW_SIZE = None
DEF_MINE_SAT_XY = [768,435]
############################################################

DEF_NUM_TRY = 5

# 每个账号每天最大重试次数
NUM_MAX_TRY_PER_DAY = 5

DEF_OKX_PWD = 'set_your_okx_password'

# encrypt & decrypt
DEF_ENCODE_HANDLE_OKX = 'ak6UVCxxx32H9#mSAMPLE'

# 设置时间的时区 (0 for UTC, 8 for Asia/Shanghai)
TZ_OFFSET = 0
# 清空浏览器目录
DEL_PROFILE_DIR = False

FILENAME_LOG = 'run.log'

# Chrome 插件所在的目录
DEF_OKX_EXTENSION_PATH = 'extensions/okx'
EXTENSION_ID_OKX = 'mcohilncbfahbmgdjkbpemcciiolgcge'

# https://yescaptcha.com/i/Af32Me
DEF_CAPTCHA_KEY = 'your_key'
# Chrome 插件所在的目录
DEF_CAPTCHA_EXTENSION_PATH = 'extensions/YesCaptcha'
EXTENSION_ID_YESCAPTCHA = 'jiofmdifioeejeilfkpegipdjiopiekl'

DEF_CAPMONSTER_EXTENSION_PATH = 'extensions/CapMonster'
EXTENSION_ID_CAPMONSTER = 'pabjfbciaedomjjfelfafejkppknjleh'
DEF_CAPMONSTER_KEY = 'your_key'
############################################################

# Clash Verge API
DEF_CLASH_API_PORT = 9097
DEF_CLASH_API_SECRETKEY = 'set_your_secretkey'
############################################################

# GLM API Key
DEF_LLM_ZHIPUAI = 'set_your_secretkey'
DEF_MODEL_ZHIPUAI = 'glm-4-plus'
############################################################

# 遇到异常发钉钉消息，如果没有，置空，则不发钉钉消息
DEF_DING_TOKEN = ''  # noqa
############################################################

# 账户列表
DEF_PATH_DATA_PURSE = 'datas/purse'
DEF_FILE_PURSE_ENCRIPT = 'purse_words_encrypt.csv'
DEF_HEADER_PURSE = 'account,purse,evm_address'
DEF_COL_PURSE_KEY = 'purse'

# 账号列表
DEF_PATH_DATA_ACCOUNT = 'datas/account'
DEF_HEADER_ACCOUNT = 'account,x_username,x_pwd,x_verifycode,proxy'

# X 账号列表
DEF_PATH_DATA_ACCOUNT = 'datas/account'
DEF_FILE_X_USE_ENCODE = False
DEF_FILE_X_PLAIN = 'x_account.csv'
DEF_FILE_X_ENCRIYPT = 'x_encrypt.csv'
DEF_ENCODE_HANDLE_X = 'ak6UVCxxx32H9#mSAMPLE'
DEF_HEADER_ACCOUNT = 'account,x_username,x_pwd,x_verifycode,proxy'

# 记录账号状态信息
DEF_PATH_DATA_STATUS = 'datas/status'
DEF_HEADER_STATUS = 'account,status,visit_date,num_visit,update_time'

############################################################
# 配置日志
s_format = '%(asctime)s %(levelname)s %(message)s'
logging.basicConfig(
    filename=FILENAME_LOG, level=logging.INFO,
    format=s_format,
    datefmt='%Y-%m-%d %H:%M:%S'
)
logger = logging.getLogger(__name__)
############################################################
